.header {
  height: 4em;
  width: 100%;
  background-color: var(--OptionalColor2);
  display: flex;
  align-items: center;
  font-weight: 800;
  position: sticky;
  /* justify-content: center; */
  padding-left: 30px;
}
